/*Importando iconos material design*/

/* fallback */

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../librerias/libsExternas/icons/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
}

/************************************************
					Fin Importación iconos
************************************************/

.dn {
	display: none;
}

.color {
	background-color: red;
}

table {
	cursor: pointer;
	cursor: hand;
}

.cuerpoApp {
	width: 37%;
	margin: 0 auto;
}

header {
	height: 80px;
	background: darkgrey;
	margin-bottom: 20px;
}

header span {
	margin: 20px;
	line-height: 5;
	text-transform: uppercase;
}

i.material-icons.prefix {
	line-height: 1.5;
}

.registro {
	display: none;
}

footer {
	position: absolute;
	bottom: 0;
	border-top: 1px solid;
	width: 100%;
	text-align: right;
	padding-right: 20px;
}

/************************************************
					Botones
************************************************/

.btn-outline-primary {
	border: 2px solid #4285f4!important;
	color: #4285f4!important;
	background-color: transparent!important;
	box-shadow: none !important;
	border-radius: 0!important;
}

.btn-outline-primary:hover {
	color: #FFF !important;
	background-color: #4285f4!important;
	border-color: #4285f4!important;
	box-shadow: none;
}

/************************************************
					Fin Botones
************************************************/

/************************************************
					Modal
************************************************/

.modal-title {
	position: fixed;
	padding: 20px;
	background: #cecece;
	font-size: 1.5em;
	width: 100%;
	z-index: 1;
}

.modal-content {
	margin-top: 50px;
}

.modal.bottom-sheet {
	max-height: 65%!important;
}

.modal .discard {
	font-family: "Material Icons";
	text-transform: lowercase;
	position: absolute;
	right: 35px;
	top: 22px;
	padding: 0;
	height: 30px;
	width: 30px;
	line-height: 30px;
	background-color: transparent;
	color: red;
	box-shadow: none;
	font-size: 1.5rem;
	transition: all 0.5s;
	border-radius: 50%;
}

.modal .discard:hover {
	color: white;
	background: red;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

/************************************************
					Fin	Modal
************************************************/