/*Importando iconos material design*/

/* fallback */

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../librerias/libsExternas/icons/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
}

/************************************************
					Fin Importación iconos
************************************************/

.dn {
	display: none;
}

.color {
	background-color: #0095ff;
}

table {
	cursor: pointer;
	cursor: hand;
}

.cuerpoApp {
	text-align: center;
}

header {
	height: 80px;
	background: darkgrey;
	margin-bottom: 20px;
}

header span {
	margin: 20px;
	line-height: 5;
	text-transform: uppercase;
}

i.material-icons.prefix {
	line-height: 1.5;
}

.registro {
	display: none;
}

footer {
	position: absolute;
	bottom: 0;
	border-top: 1px solid;
	width: 100%;
	text-align: right;
	padding-right: 20px;
}

.row {
	margin-bottom: 5px!important;
}

#crearClaustro {
	display: block!important;
}

.cabezaTabla, .cabezaTabla:hover {
	background: darkgrey;
	color: white;
	border-radius: 5px;
}

.cabezaTabla th:first-child {
	border-top-left-radius: 5px!important;
	border-bottom-left-radius: 5px!important;
}

.cabezaTabla th:last-child {
	border-top-right-radius: 5px!important;
	border-bottom-right-radius: 5px!important;
}

th {
	border-radius: 0!important;
}

td {
	border-radius: 0!important;
}

.filaTabla:hover {
	background: lightslategrey;
	color: white;
}

/************************************************
					Botones
************************************************/

.btn-outline-primary {
	border: 2px solid #4285f4!important;
	color: #4285f4!important;
	background-color: transparent!important;
	box-shadow: none !important;
	border-radius: 0!important;
}

.btn-outline-primary:hover {
	color: #FFF !important;
	background-color: #4285f4!important;
	border-color: #4285f4!important;
	box-shadow: none;
}

/************************************************
					Fin Botones
************************************************/

/************************************************
					Modal
************************************************/

.modal-title {
	position: fixed;
	padding: 20px;
	background: #cecece;
	font-size: 1.5em;
	width: 100%;
	z-index: 2;
}

.modal-content {
	margin-top: 50px;
}

.modal.bottom-sheet {
	height: 100%;
	max-height: 80%!important;
}

.modal .discard, .modalClautro .discard {
	font-family: "Material Icons";
	text-transform: lowercase;
	position: absolute;
	right: 35px;
	top: 22px;
	padding: 0;
	height: 30px;
	width: 30px;
	line-height: 30px;
	background-color: transparent;
	color: red;
	box-shadow: none;
	font-size: 1.5rem;
	transition: all 0.5s;
	border-radius: 50%;
}

.modal .discard:hover, .modalClautro .discard:hover {
	color: white;
	background: red;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

.modalClautro {
	top: 20px;
	z-index: 1004;
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	background-color: #fafafa;
	padding: 0;
	max-height: 90%;
	max-width: 90%;
	margin: auto;
	overflow-y: auto;
	border-radius: 2px;
	will-change: top, opacity;
}

.modal {
	z-index: 1003!important;
}

.modal-overlay {
	z-index: 1002!important;
}

.modal-overlayClautro {
	z-index: 1003;
	opacity: 0.5;
	position: fixed;
	top: -25%;
	left: 0;
	bottom: 0;
	right: 0;
	height: 125%;
	width: 100%;
	background: #000;
	display: none;
	will-change: opacity;
}

/************************************************
					Fin	Modal
************************************************/

/************************************************
					Toast
************************************************/

#toast {
	visibility: hidden;
	max-width: 450px;
	margin: 0px auto;
	background-color: red;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1005;
	left: 33%;
	bottom: 30px;
}

#toast.show {
	visibility: visible;
	-webkit-animation: fadein 1s, fadeout 1s 2.5s;
	animation: fadein 1s, fadeout 1s 2.5s;
}

#toast i {
	position: relative;
	top: 5px;
	margin-right: 20px;
}

/* Animaciones para poner/quitar toast */

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

/************************************************
					FIN Toast
************************************************/

.cards-container {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}

.cards-container .card {
	display: inline-block;
	overflow: visible;
}

.card.filaTablaFirma {
	width: 300px;
}

.modalClautro .modal-title {
	width: 90%;
}

.card-title {
	font-size: 1.2em!important;
}

.datosHistoricoClaustro {
	padding-top: 60px
}

/*https://codepen.io/mike-north/pen/MwVoYp?editors=1100*/